@model ButtonViewModel

<button type="@(Model.IsSubmit ? "submit" : "button")" class="base-button @(Model.Variant)-button @Model.AdditionalClasses" 
        @if (Model.OnClick != null) 
        {
          @Html.Raw($"onclick=\"{Model.OnClick}\"")
        }
        @if (Model.DataAttributes != null)
        {
          foreach (var attr in
                   Model.DataAttributes)
          {
            @Html.Raw($"data-{attr.Key}=\"{attr.Value}\"")
          }
        }
        >
  @if (!string.IsNullOrEmpty(Model.Icon))
  {
    <span class="button-icon">@Html.Raw(Model.Icon)</span>
  }
  @Model.Text
</button>