@model MemberItemViewModel

<div class="content-item">
  <i class="@Model.Icon"></i>
  <span>@Model.Text</span>
  <label class="switch">
    <input type="checkbox" @(Model.IsChecked ? "checked" : "") data-toggle-admin data-id="@Model.Id"
      data-is-admin="@Model.IsChecked.ToString().ToLower()">
    <span class="slider"></span>
  </label>
</div>