@model NotificationItemViewModel

<div class="content-item" data-id="@Model.Id" data-read="@Model.IsRead.ToString().ToLower()">
  <img src="/images/avatars/Avatar-1.svg" alt="Notification image" class="notification-image" />
  <div class="notification-content">
    <div class="notification-message">@Model.Message</div>
    <div class="notification-time time" data-created="@Model.CreatedAt.ToString("o")">
      @Model.CreatedAt.ToString("yyyy-MM-ddTHH:mm:ss")
    </div>
  </div>
  <button class="notification-close" onclick="notificationManager.dismissNotification('@Model.Id', event)">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
