@model IEnumerable<Domain.Models.Client>

@{
  var clients = Model.ToList();
}

<section class="client-list-container">
  <div class="client-list-scroll">
    @if (clients.Count == 0)
    {
      <div class="client-list-empty">
        <p>Oops. No clients found.</p>
      </div>
    }
    else
    {
      <div class="table-wrapper">
        <table class="client-list-table">
          <thead>
            <tr>
              <th class="checkbox-column">
                <input type="checkbox" id="selectAllClients" onchange="toggleSelectAllClient(this)" />
              </th>
              <th class="client-image">Logo / Image</th>
              <th class="client-name">Company Name</th>
              <th class="client-contact">Contact Person</th>
              <th class="client-email">Email</th>
              <th class="client-phone">Phone</th>
              <th class="client-date">Date</th>
              <th class="actions-cell"></th>
            </tr>
          </thead>
          <tbody>
            @foreach (var client in clients)
            {
              <tr class="client-row" data-id="@client.Id">
                <td class="checkbox-column">
                  <input type="checkbox" class="client-checkbox" data-id="@client.Id" onchange="toggleSelectClient(this)" />
                </td>
                <td class="client-info">
                  @if (!string.IsNullOrEmpty(client.ImageUrl))
                  {
                    <img class="client-image" src="@client.ImageUrl" alt="@client.ClientName" />
                  }
                  else
                  {
                    <img class="client-image" src="~/images/alpha-logotype-symbol.svg" alt="@client.ClientName" />
                  }
                </td>
                <td class="client-name">@client.ClientName</td>
                <td class="client-contact">@client.ContactPerson</td>
                <td class="client-email">@client.Email</td>
                <td class="client-phone">@client.Phone</td>
                <td class="client-date">@DateTime.UtcNow.ToString("yyyy-MM-dd")</td>
                <td class="actions-cell">
                  <button class="dropdown-toggle" data-window="dropdown" data-target="client-dropdown-@client.Id"
                    aria-label="Client menu" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-duotone fa-solid fa-ellipsis-v"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      @* Dropdown content outside of table-wrapper *@
      @foreach (var client in clients)
      {
        <div class="dropdown-wrapper" id="client-dropdown-@client.Id">
          @{
            var clientDropdownModel = new ClientDropdownViewModel
            {
              Id = client.Id
            };
          }
          <partial name="Partials/Components/Dropdowns/_ClientDropdown" model="@clientDropdownModel" />
        </div>
      }

      <div class="selected-clients-info hide">
        <span id="selectedClientsCount">(0 selected)</span>
        <button class="unselect-all" onclick="unselectAllClient()">
          Unselect all
        </button>
      </div>
    }
  </div>
</section>
