@model ProjectCardViewModel


<div class="project-card">
  <div class="project-header">
    <div class="project-image">
      <img src="@Model.ImageUrl" alt="Project image" />
    </div>
    <div class="project-info">
      <h3>@Model.ProjectName</h3>
      <p>@Model.ClientName</p>
      <div class="project-status @Model.Status?.StatusName.ToLower().Replace(" ", "")">
        @Model.Status?.StatusName
      </div>
    </div>

    @* dropdown *@
    <div class="dropdown-wrapper" id="project-dropdown-@Model.Id">
      <button class="dropdown-toggle" data-window="dropdown" data-target="project-dropdown-@Model.Id"
              aria-label="Project menu" aria-haspopup="true" aria-expanded="false">
        <span class="dots"></span>
      </button>
      @{
        var projectDropdownModel = new ProjectDropdownViewModel
        {
          Id = Model.Id
        };
      }
      <partial name="Partials/Components/ProjectCard/_ProjectDropdown" model="@projectDropdownModel" />
    </div>
  </div>

  <div class="project-description ">
    @Html.Raw(Model.Description)
  </div>

  <div class="project-footer">
    <partial name="Partials/Components/ProjectCard/_ProjectDeadline" model="@Model" />
    
    <div class="team-members" id="team-members-@Model.Id">
      @foreach (var member in Model.AllMembers)
      {
        <div class="avatar" title="@($"{member.FirstName} {member.LastName}")">
          <img src="@member.ImageUrl" alt="@($"{member.FirstName} {member.LastName}")" />
        </div>
      }
      <div class="avatar more-members "><span></span></div>
    </div>
  </div>
  
</div>
