@model ProjectsViewModel
@{
    Layout = "_Layout_Alpha";
    ViewData["Title"] = Model.PageHeader.Title;
}

<section class="projects-container">
    <partial name="Partials/Components/PageHeader/_PageHeader" model="@Model.PageHeader" />

    <partial name="Partials/Components/TabFilter/_TabFilter" model="@Model.TabFilter" />

    <section class="projects-grid">
        @foreach (var project in Model.Projects)
        {
            <partial name="Partials/Components/ProjectCard/_ProjectCard" model="@project" />
            <partial name="Partials/Modals/_DeleteProjectModal" model="@project.Id" />
        }
    </section>

    <partial name="Partials/Modals/_AddProjectModal" model="@Model.AddProject" />
    <partial name="Partials/Modals/_EditProjectModal" model="@Model.EditProject" />
</section>
