@model MemberCardViewModel

<div class="member-card">

    <div class="member-header">
        <div class="member-avatar">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Member avatar" />
            }
        </div>
        <div class="member-info">
            <h3>@Model.FirstName @Model.LastName</h3>
            <span>@Model.JobTitle</span>
        </div>

    </div>

    @* dropdown *@
    <div class="dropdown-wrapper" id="member-dropdown-@Model.Id">
        <button class="dropdown-toggle" data-window="dropdown" data-target="member-dropdown-@Model.Id"
            aria-label="Member menu" aria-haspopup="true" aria-expanded="false">
            <span class="dots"></span>
        </button>
        @{
            var memberDropdownModel = new MemberDropdownViewModel
            {
                Id = Model.Id,
                IsAdmin = Model.IsAdmin
            };
        }
        <partial name="Partials/Components/MemberCard/_MemberDropdown" model="@memberDropdownModel" />
    </div>

    <div class="member-contact">
        <div class="contact-item">
            <i class="fa-duotone fa-solid fa-envelope"></i>
            <span>@Model.Email</span>
        </div>
        <div class="contact-item">
            <i class="fa-duotone fa-solid fa-phone"></i>
            <span>@Model.PhoneNumber</span>
        </div>
        <div class="contact-item">
            <i class="fa-duotone fa-solid fa-location-dot"></i>
            <span>@Model.FullAddress</span>
        </div>
    </div>

    @{
        var messageButton = new ButtonViewModel
        {
            Text = "Message",
            Variant = "secondary",
        };
    }
    <partial name="Partials/Components/ui/_Button" model="@messageButton" />
</div>