@model MemberCardViewModel

<div class="member-card">
    <div class="member-header">
        <div class="member-avatar">
            @if (!string.IsNullOrEmpty(Model.Avatar))
            {
                <img src="@Model.Avatar" alt="Member avatar" />
            }
        </div>
        <div class="member-info">
            <h3>@Model.FullName</h3>
            <span>@Model.JobTitle</span>
        </div>
    </div>
    <div class="dropdown-wrapper window" id="member-dropdown-@Model.Id">
        @{
            var memberDropdownModel = new MemberDropdownViewModel
            {
                Id = Model.Id,
                IsAdmin = Model.IsAdmin
            };
        }
        <partial name="Partials/Components/Dropdowns/_MemberDropdown" model="@memberDropdownModel" />
    </div>
    <div class="member-contact">
        <div class="contact-item">
            <i class="fa-duotone fa-solid fa-envelope"></i>
            <span>@Model.Email</span>
        </div>
        <div class="contact-item">
            <i class="fa-duotone fa-solid fa-phone"></i>
            <span>@Model.PhoneNumber</span>
        </div>
        <div class="contact-item">
            <i class="fa-duotone fa-solid fa-location-dot"></i>
            <span>@Model.StreetName, @Model.City @Model.PostalCode</span>
        </div>
    </div>
    @{
        var messageButton = new ButtonViewModel
        {
            Text = "Message",
            Variant = "secondary",
        };
    }
    <partial name="Partials/Components/ui/_Button" model="@messageButton" />
</div>